{% extends "base.html" %}

<html>
<head>
<!--  Including the chessboardjs files:-->
    <script src="./js/chessboard-0.3.0.js"></script>
    <link rel="stylesheet" href="css/chessboard-0.3.0.min.css">

<!--  Including jQuery, another tool chessboardjs uses:-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  
  </head>
 <h1>Home</home>
<body>
  <div id="myBoard" style="width: 400px"></div>
  <label>Status:</label>
  <div id="status"></div>
  <label>FEN:</label>
  <div id="fen"></div>
  <label>PGN:</label>
  <div id="pgn"></div>
  </body>

  
  
<!--
  Now including our own custom JS
  Note that we could write JS directly in between the script tags if you'd 
  rather, but i didn't want to so i put it in a new file. 
-->
  <script src="./chess.js"></script>
</html>
